@font-face {
  font-family: firago;
  src: url(fonts\FiraGO-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

/*hide scrolll bar*/
::-webkit-scrollbar {
  width: 0px;
}

.left-sidebar {
  width: 215px;
  height: 100%;
  display: inline-block;
  overflow-y: scroll;
  background-color: #151a22;
}

.main {
  display: block;
  align-items: center;
  padding: 0px 0px 0px 25px;
  text-align: left;
}

.main a {
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: white;
  font-family: firago;
}

.logo {
  width: 33.8px;
  height: 41px;
  background-color: #151a22;
  position: relative;
  top: 10px;
  text-align: left;
}

.sidenav {
  margin-top: 28px;
  text-align: left;
}

a {
  text-decoration: none;
  color: #c3ced5;
}

.sidenav a {
  height: 38px;
  padding: 5px 8px 0px 35px;
  margin-bottom: 0px;
  text-decoration: none;
  display: block;
  font-family: firago;
  font-size: 14px;
  line-height: 2.5;
  align-items: center;
  color: #c3ced5;
  font-weight: 500;
}

.sidenav a:hover {
  background: #ff4e00;
  color: white;
}

.minimize-menu {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(86, 86, 100);
  text-align: left;
  position: relative;
  padding: 10px 10px 10px 35px;
  font-weight: 500;
  position: relative;
  margin-top: 50px;
}

img {
  margin-right: 10px;
}

.container {
  display: flex;
  font-family: firago;
  padding: 10px 10px 10px 35px;
  text-align: right;
  margin: 20px 0px 20px 0px;
}

.container img {
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
}

.side {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  bottom: 10px;
}

.side img span {
  display: block;
  margin: 5px;
}

.Your-Manager {
  width: 62px;
  height: 12px;
  font-family: FiraGO;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.69);
}

.name {
  width: 42px;
  height: 14px;
  font-family: FiraGO;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Message-Now {
  height: 12px;
  font-family: FiraGO;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: left;
  color: #ff6f2f;
  text-decoration: underline;
}
